<div id="<%= dom_id juego %>">
  <p>
    <strong>Nombre:</strong>
    <%= juego.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= juego.descripcion %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= juego.categoria %>
  </p>

</div>
